Package: org.h2co3.ipodmemos
Name: iPod Memos
Version: 2.0
Section: Tweaks
Description: Add to iPod button for Voice Memos app.
Depends: mobilesubstrate, libipodimport
Depiction: http://apaczai.elte.hu/~13akga/donate/index.html
Author: Arpad Goretity (H2CO3) <arpad.goretity@gmail.com>
Maintainer: Arpad Goretity (H2CO3) <arpad.goretity@gmail.com>
